.pretty-margin{
margin-left: 20%;
margin-right: 20%;
}
.jumbotron{
	border-radius: 25px;
	position: absolute;
	border: 2px solid #000;
	min-height: 50%;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	left: 5%;
}
#result{
}